
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700 & display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: "poppins",sans-serif;
}
body{
    overflow: hidden;
}

.background {
    background: -moz-linear-gradient(rgba(0,0,0,0,5),rgb(209, 209, 213));
    background-image: url(pexels-francesco-ungaro-281260.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabesalho-link{
    display: flex;
     gap: 3rem;
     font-weight: 300;
     cursor: pointer
    }

    
.cabesalho-link a{
    color: #2ecc71;
    font-size: 12px;

    }
    
.cabesalho-linka a :hover{
    color: #2ecc71;
    transition: 0.3s all;
}
logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}
button{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
}

button:hover{
    background-color: #2ecc71;
    color: #afff;
    transition: 0.5s;
}

cortainer-text{
    padding: 150px 0 0 130px;
}
text h3{
    color: #afff;
    font-size: 15px;
}
.text h1{
    color: #afff;
    margin-top: 15px;
}

.text span{
 color: #afff;
}

text p{
    color: #f8fcfc;
    font-size: 10px;
    font-weight: 300;
    margin-top: 10px;
}

.redes sociais {
    color: #2ecc71;
    padding: 10px;
    margin-top: 5px
}

.btn{
    margin-top: 10px;
}

header h1{
    background-color: rgb(240, 241, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}